.root {
    -fx-font-size: 14pt;
    -fx-font-family: "Arial";
    -fx-base: #6699ff;
    -fx-background: #808080;
}

.button {
    -fx-text-fill: #ffffff;
    -fx-background-color: #0000ff;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 8;
}

.button:hover {
    -fx-background-color: #6699ff;
}

.slider {
    -fx-color: #0000ff;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-max-height: 50;

}
.slider:hover{
    -thumb-color: #6699ff;
}

.slider .thumb{
    fx-color: #0000ff;
}

.slider .track {
    -fx-control-inner-background: #6699ff;
    -fx-background-color: linear-gradient(to right, #969696 0%, #6699ff 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.25em; /* 3 */ /* linear-gradient(#33cc33, #ff3300); */
}

